<div class="jumbotron">
  <h3>We are here to help your child find a mentor based on their hobbies and interest that will last them a lifetime. </h3>
</div>
<hr>
<div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/mentor1.jpg" class="d-block w-100" alt="mentor1">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor4.jpg" class="d-block w-100" alt="mentor4">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor3.jpg" class="d-block w-100" alt="mentor3">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor5.jpg" class="d-block w-100" alt="mentor5">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor.jpg" class="d-block w-100" alt="mentor">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor6.jpg" class="d-block w-100" alt="mentor6">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor11.jpg" class="d-block w-100" alt="mentor11">
    </div>
    <div class="carousel-item">
      <img src="/assets/mentor10.jpg" class="d-block w-100" alt="mentor10">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<hr>
  <div id = "card1"></div>
  <div class="card" style="width: 60 rem;">
  <img src="/assets/mentor2.jpg" class="card-img-top" alt="mentor2">
  {{!-- <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> --}}
</div>
</div>