<div class="row justify-content-center">
  <div class="col-auto">
    <h3>Welcome, {{username}}!</h3>
<div id = "card2"></div>
  <div class="card" style="width: 60 rem;">
  <img src="/assets/mentor12.jpg" class="card-img-top" alt="mentor12">
  <div class="card-body">
    <h5 class="card-title">{{first_name}} {{last_name}}</h5>
    <p class="card-text">My mentor is: {{mentor_id}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  </div>
</div>