
  <form class="form signup-form" id="centerForm">
      <div class="form-group" id="signUpForm">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">

        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="text-box">
        <button class="btn-pulse btn-white btn-animate" type="submit">Sign Up</button>
      </div>
    </form>
    <aside>
        Dare to dream


    </aside>
    
<center><iframe id="video" style="text-align: center;" width="700" height="500" src="https://www.youtube.com/embed/tlY0PkWxCW8?t=67" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </center>

<script src="js/login.js"></script>