body {
    background-color:aliceblue;
}

nav {
text-align: center;
}


.goal {
    text-align: center;
    color: white;
}
h2 {
background-color:white;
text-align: center;
}

h3 {
    text-align: center;
}

#card1, #card2, #carouselExampleControls {
    min-width: fit-content;
}


html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
 

  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  



#centerForm {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    align-items: stretch;
    border-style: solid;
    border: lawngreen;
    border-width: 5px;
}
.form-input {
    width: 45%;
    margin: 10px;
    padding: 5px;
}
#video {
    text-align: center;
    margin: 40px;
    padding: 20px;
    
    



}
aside {
    font-size: calc(8px + 9vh);
    line-height: calc(8px + 10vh);
 
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align:center;
    animation: blink 8s infinite;
    -webkit-animation: blink 12s infinite;
    left: 15px;
    margin-right: 20px;
    padding-top: 30px;
    margin: 30px;
  }
  

  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  